h1, h2{
  font-family: Impact;
  color: #cc0000;
  text-align: center;
}

header{
  width: 100%;
}

h3{
  color: #cc0000;
}

body{
  background-color: #fffff;
}

body ul{
  list-style-type: circle;
  font-style: italic;
}

footer ul{
  list-style-type: none;
}

.conteneur {
  width: 100%;
  max-width: 960px;
  padding: 10px;
  margin: 15px;
}

header {
  background-image: url(./../fonds/playstation-pattern.png);
}

main {
  background-image: url(./../fonds/topography.png);
}

footer {
  background-image: url(./../fonds/Sports.png);
}

img {
  width:20%;
}

.prez {
  display: flex;
  justify-content: center;
  margin: auto;
}

.colonnes{
    width:30%;
    display:inline-block;
    vertical-align:top;
    text-align: center;
}

footer{
  text-align: center;
}

iframe{
  width: 50%;
}
